<div class="container">
  <div class="row mb-5">
    <div class="col-md-5">
      <img class="rounded-circle" src="{{user.image}}"
        style="width: 20vw; height: 20vw; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    </div>
    <div class="col-md-7">
      <h1 class="">{{user.name}}</h1>
      <p>{{user.email}}</p>
      <p>
        {{notRepeatTimes}}&nbsp已評論餐廳<br>
        {{favoritedRestaurantsCount}}&nbsp收藏的餐廳<br>
        {{followingCount}}&nbspfollowings(追蹤者)<br>
        {{followerCount}}&nbspfollowers(追隨者)
      </p>
      {{#ifCond user.id loginUser.id}}
      <a href="/users/{{user.id}}/edit"><button class="btn btn-primary my-sm-0 my-2 mb-5">Edit</button></a>
      {{/ifCond}}
    </div>
    <hr class="mt-5">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          {{followingCount}} followings(追蹤者)
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap">
            {{#each user.Followings}}
            <div class="m-2">
              <a href="/users/{{this.id}}">
                <img src="{{this.image}}" title="{{this.name}}"
                  style="width: 8vw; height: 8vw; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
              </a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header">
          {{followerCount}} followers(追隨者)
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap">
            {{#each user.Followers}}
            <div class="m-2">
              <a href="/users/{{this.id}}">
                <img src="{{this.image}}" title="{{this.name}}"
                  style="width: 8vw; height: 8vw; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
              </a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card">
        <div class="card-header">
          {{notRepeatTimes}} 已評論餐廳
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap">
            {{#each notRepeatComments}}
            <div class="m-2">
              <a href="/restaurants/{{this.Restaurant.id}}">
                <img src="{{this.Restaurant.image}}" title="{{this.Restaurant.name}}"
                  style="width: 8vw; height: 8vw; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
              </a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="card mt-3">
        <div class="card-header">
          {{favoritedRestaurantsCount}} 收藏的餐廳
        </div>
        <div class="card-body">
          <div class="d-flex flex-wrap">
            {{#each user.FavoritedRestaurants}}
            <div class="m-2">
              <a href="/restaurants/{{this.id}}">
                <img src="{{this.image}}" title="{{this.name}}"
                  style="width: 8vw; height: 8vw; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
              </a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>